@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100%;
  background-color: rgb(39 39 42);
}
.main-page {
  background-image: url("/asserts/profile.png");

  /* Full height */

  background-attachment: fixed;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.border-gradient {
  border-image: linear-gradient(to right, yellow 80%, rgba(0, 0, 0, 0) 80%);
  border-style: solid;
}

.border-gradient-black {
  border-image: linear-gradient(to right, black 80%, rgba(0, 0, 0, 0) 80%);
  border-style: solid;
}
